*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Poppins-regular";
  
}
@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins-Bold"), url(./fonts/Poppins-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Poppins-regular";
  src: local("Poppins-Regular"), url(./fonts/Poppins-Regular.otf) format("opentype");
}
.Menubar{
  position: absolute;
  top: 30px;
  right: "-200px";
  width:"400px";
  background-color: #ffffff;
  height: 100vh;
  z-index: 1;
}
/* @media screen and (min-width:600px){
    
    .Menuopen{
      display: none;
      background-color: red;
    }
}
@media screen and (max-width:600px){
  .Menubar_active{
    display: none;
  }
   */
  /* .Menuopen{
    display: none;
    background-color: red;
  } */
