*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Poppins-regular";
  cursor: S;
  
}
p {
  margin-bottom: 0em !important;
}
@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins-Bold"), url(./fonts/Poppins-Bold.otf) format("opentype");
}
@font-face {
  font-family: "Poppins-regular";
  src: local("Poppins-Regular"), url(./fonts/Poppins-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Wandery";
  src: local("Wandery"), url(./fonts/Wandery.otf) format("opentype");
}
@font-face {
  font-family: "Portico-regular";
  src: local("Portico-Regular"), url(./fonts/Portico-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Portico-outline";
  src: local("Portico-Outline"), url(./fonts/Portico-Outline.otf) format("opentype");
}

.Menubar{
  position: absolute;
  top: 30px;
  right: "-200px";
  width:"400px";
  background-color: #ffffff;
  height: 100vh;
  z-index: 1;
}
.btn_1{
  display:flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to right, #ffb75e, #ed8f03);
  width:120px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  outline:"none"
}
.form_handle{
  width: 400px;
}
.paginationbtns{
  width: 200px;
  text-decoration:none;
  transition: 0.5s;
  color: #000000;
  list-style: none;
  display: flex;
  justify-content:center;
  
  font-size: 0.8rem;
  cursor: pointer;
  padding: 5px;
  margin:5px auto;
  border-radius: 10px;
}
.paginationbtns a{
  padding: 5px;
  margin:10px 5px;
  text-decoration: none;
}
.paginationActive a{
  color:#ffffff;
  background-color: #ffa31a;
  border-radius: 50px;
}

@media screen and (max-width:600px){
    
  .scrollbar::-webkit-scrollbar{
    display: none; 
  }
  .side_1{
    flex-direction: column;
  }
  .form_handle{
    width: 99%;
    margin: 0 auto;
  }
  .Login{
    width: 300px;
    height: 80vh;
    margin: auto;
    background-color: #ffffff;
  }
  .Review{
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    
    margin: 10px 0;
  }

}
@media screen and (min-width:600px){
  .Login{
    width: 300px;
  }
  .Review{
    width: 300px;
    
    margin: 15px 0;

  }
  .imageLarge{
    height: 400px;
  }
}
